@use "global" as *;

.c-breadcrumb {
    padding: rem(6) 0;
    background-color: #F7F7F7;
    font-size: rem(11);
    font-weight: $regular;
    letter-spacing: 0.05em;
    @include mq("md") {
        font-size: rem(12);
        padding: rem(15) 0; 
    }
}