@use "global" as *;

.c-mv-button {
    display: inline-block;
    text-align: center;
    font-size: rem(15);
    font-weight: $bold;
    letter-spacing: 0.05em;
    font-family: $english-font-family;
    text-transform: uppercase;
    color: $white;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: rem(50);
    line-height: 1;
    padding: rem(19) rem(68.5);
}