@use "global" as *;

.p-header {
    height: rem(64);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.3s;
}

.p-header.change-color {
    background-color: $blue;
}

.p-header__inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(20);
}

.p-header__logolink {
    color: $white;
    font-size: rem(18);
    line-height: 1;
    display: block;
    @include mq("md") {
        font-size: rem(24);
    }
}

.p-header__pc-nav {
    height: inherit;
}
