@use "global" as *;


.p-mv {
    height: 100vh;
    position: relative;
    background-image: url(../images/common/mv-sp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-mv__inner {
}

.p-mv__header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(30);
    color: $white;
}

.p-mv__title {
    font-size: rem(40);
    font-weight: $bold;
    letter-spacing: 0.05em;
    font-family: $english-font-family;
    line-height: 1.1;
    text-transform: uppercase;
}

.p-mv__subtitle {
    font-size: rem(16);
    font-weight: $bold;
    letter-spacing: 0.1em;
    line-height: 1.812;
    margin-top: rem(20);
}

.p-mv__button {
    margin-top: rem(30);
}

.p-mv__scroll {
    font-size: rem(12);
    font-weight: $bold;
    letter-spacing: 0.2em;
    font-family: $english-font-family;
    text-transform: uppercase;
    color: $white;
    display: inline-block;
    position: absolute;
    bottom: rem(85);
    right: 0;
    transform: rotate(90deg);
}

.p-mv__scroll span {
    position: relative;
}

.p-mv__scroll span::after {
    position: absolute;
    content: "";
    background-color: $white;
    width: rem(50);
    height: rem(1);
    top: 44%;
    right: rem(-54);
}