@use "global" as *;


.p-service__items {
    margin-top: rem(32);
}


.p-service__item + .p-service__item {
    margin-top: rem(40);
}

.p-service__button {
    text-align: center;
    margin-top: rem(40);
}